.faqSection{

    .verticalHead{
        li{
            width: 200px;
        	height: 100%;
            background-color: white;
            margin: 20px 0px;
            border: 2px solid #C3C3C3;
            border-radius: 30px;
            padding: 20px 30px;
            font-size: 16px;
            font-weight: bold;
        }

    }

}