#helpList{

     &.scanner {
        background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_scanner.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.f10 {
        background: url("https://xyzwebsite.blob.core.windows.net/service-center/da10.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.f20 {
        background: url("https://xyzwebsite.blob.core.windows.net/service-center/da20.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.f10a {
        background: url("https://xyzwebsite.blob.core.windows.net/service-center/da10a.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.f20a {
        background: url("https://xyzwebsite.blob.core.windows.net/service-center/da20a.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.f10aio {
        background: url("https://xyzwebsite.blob.core.windows.net/service-center/daAiO.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.nb10 {
        background: url('http://twportal.blob.core.windows.net/images-support/img_support_navi_nb10.png') no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.filament {
        background: url('http://twportal.blob.core.windows.net/images-support/img_support_navi_filament.png') no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.spare_parts {
        background: url('http://twportal.blob.core.windows.net/images-support/img_support_navi_spare.png') no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.nb10 {
        background: url('http://twportal.blob.core.windows.net/images-support/img_support_navi_nb10.png') no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.dv10jr {
        background: url('https://twportal.blob.core.windows.net/images-support/img_support_navi_dv10jr.png') no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.dv11plus {
        background: url('https://twportal.blob.core.windows.net/images-support/img_support_navi_dv11plus.png') no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.dv10jrw {
        background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_dvjrw.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.dvpro {
        background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_dv10pro.png")  no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.foodprinter {
        background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_foodprinter.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.bolide {
        background: url("https://twportal.blob.core.windows.net/images-support/bolide_robot.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 85%;
        background-position: 50% 50%;
     }
     &.xyzmaker {
        background: url("https://xyzwebsite.blob.core.windows.net/service-center/ic_xyzmaker.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }
     &.dvpro3in1 {
        background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_dv3in1pro.png") no-repeat rgba(232, 233, 235, 0.6);
        background-size: 100%;
        background-position: 50% 50%;
     }

}