.ic_render:before {
	content: "\e600";
}
.ic_upload:before {
	content: "\e602";
}
.ic_sttachment:before {
	content: "\e603";
}
.ic_star:before {
	content: "\e604";
}
.ic_share-my:before {
	content: "\e605";
}
.ic_like:before {
	content: "\e606";
}
.ic_info:before {
	content: "\e607";
}
.ic_idea:before {
	content: "\e608";
}
.ic_good:before {
	content: "\e609";
}
.ic_edit:before {
	content: "\e60a";
}
.ic_download:before {
	content: "\e60b";
}
.ic_comment:before {
	content: "\e60c";
}
.ic_attention:before {
	content: "\e60d";
}
.ic_add:before {
	content: "\e60e";
}
.ic_arrow_right:before {
	content: "\e601";
}
.ic_arrow_left:before {
	content: "\e60f";
}
.ic_plus:before {
	content: "\e101";
}
.ic_minus:before {
	content: "\e102";
}
.ic_multiply:before {
	content: "\e103";
}
.ic_divide:before {
	content: "\e104";
}
.ic_fi_color:before {
	content: "\e105";
}
.ic_locate_normal:before {
	content: "\e106";
}
.ic_support:before {
	content: "\e200";
}
.ic_store:before {
	content: "\e201";
}
.ic_product:before {
	content: "\e202";
}
.ic_lang:before {
	content: "\e204";
}
.ic_gallery:before {
	content: "\e203";
}
.ic_news:before {
	content: "\e206";
}
.ic_menu:before {
	content: "\e205";
}
