@(message: String)
@scripts =  {
    <script type="text/javascript">

    website.controller('myCtrl', function($scope) {

        $scope.serviceHome = [
            {
                  des: "FAQ",
                  url: "http://support.xyzprinting.com/jp_ja/Help/Faq",
                  className: "faq",
            },
            {
                  des: "Tutorial Video",
                  url: "http://support.xyzprinting.com/jp_ja/Help/Faq",
                  className: "tutorialvideo",
            },
            {
                  des: "Download & Document",
                  url: "http://support.xyzprinting.com/jp_ja/Help/Faq",
                  className: "documentdownload",
            },
            {
                  des: "Product Warranty",
                  url: "http://support.xyzprinting.com/jp_ja/Help/Faq",
                  className: "productwarranty",
            }
        ];
        $scope.buttons = [
            {
                 des: "Register Your Product",
                 url: "http://support.xyzprinting.com/jp_ja/Help/Faq",
                 className: "button",
            },
            {
                 des: "Contact Support",
                 url: "http://support.xyzprinting.com/jp_ja/Help/Faq",
                 className: "button",
            }
        ];
    });

    </script>

}
@main("Service Center 2.0", scripts) {
<div class="serviceCate" ng-controller="myCtrl"><center>

    <div class="row">
        <div class="col-md-12 adjust">
            <center>
                <img class="img-responsive" src="@routes.Assets.versioned("images/Thankgiving Long Banner.jpg")">
            </center>
        </div>
    </div>

    <div class="container">

        <section class="row col-md-12 heading">
            <span>You may want to know</span>
            <div class="clear"> </div>
        </section>

        <section class="sub-cate">
            <div class="row">
                <div ng-repeat="item in serviceHome" class="col-xs-6 col-md-3" ng-cloak>
                    <div class="{{item.className}}"></div>
                    <a ng-href="{item.url}">
                        <p ng-bind="item.des"></p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="item in buttons" class="col-xs-12 col-sm-6 col-md-6">
                    <div class="{{item.className}}">
                        <ul>
                            <li class="bilog"></li>
                            <li class="msg">
                                <a ng-href="{item.url}">
                                    <span ng-bind="item.des"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</center>
</div>
<br>
}
