@(message: String)
@scripts =  {


}
@main("Welcome to Play", scripts) {

<div class="row">
    <div class="col-md-12 adjust">
        <center>
            <img class="img-responsive" src="@routes.Assets.versioned("images/Thankgiving Long Banner.jpg")">
        </center>
    </div>
</div>

<div class="container"><center>

    <div class="row">
        <div class="col-md-12 heading">
            You may want to know
        </div>
    </div><br>

    <div class="cate">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="faq pointer"></a></div>
                <p><a href="http://support.xyzprinting.com/us_en/Help/Faq">FAQ</a></p>
            </div>

            <div class="col-xs-6 col-md-3 pointer">
                <div class="tutorialvideo"></div>
                <p>Tutorial Video</p>
            </div>

            <div class="col-xs-6 col-md-3 pointer">
                <div class="documentdownload"></div>
                <p>Download & Document</p>
            </div>

            <div class="col-xs-6 col-md-3 pointer">
                <div class="productwarranty"></div>
                <p>Product Warranty</p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="button pointer">
                <ul>
                    <li class="bilog"></li>
                    <li class="msg">Register Your Product</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="button pointer">
                <ul>
                    <li class="bilog"></li>
                    <li class="msg">Contact Support</li>
                </ul>
            </div>
        </div>

    </div>
</center>
</div>
<br>
}
