/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/sass/_iconfont.scss */
.ic_render:before {
  content: "\e600";
}

/* line 4, ../../sass/sass/_iconfont.scss */
.ic_upload:before {
  content: "\e602";
}

/* line 7, ../../sass/sass/_iconfont.scss */
.ic_sttachment:before {
  content: "\e603";
}

/* line 10, ../../sass/sass/_iconfont.scss */
.ic_star:before {
  content: "\e604";
}

/* line 13, ../../sass/sass/_iconfont.scss */
.ic_share-my:before {
  content: "\e605";
}

/* line 16, ../../sass/sass/_iconfont.scss */
.ic_like:before {
  content: "\e606";
}

/* line 19, ../../sass/sass/_iconfont.scss */
.ic_info:before {
  content: "\e607";
}

/* line 22, ../../sass/sass/_iconfont.scss */
.ic_idea:before {
  content: "\e608";
}

/* line 25, ../../sass/sass/_iconfont.scss */
.ic_good:before {
  content: "\e609";
}

/* line 28, ../../sass/sass/_iconfont.scss */
.ic_edit:before {
  content: "\e60a";
}

/* line 31, ../../sass/sass/_iconfont.scss */
.ic_download:before {
  content: "\e60b";
}

/* line 34, ../../sass/sass/_iconfont.scss */
.ic_comment:before {
  content: "\e60c";
}

/* line 37, ../../sass/sass/_iconfont.scss */
.ic_attention:before {
  content: "\e60d";
}

/* line 40, ../../sass/sass/_iconfont.scss */
.ic_add:before {
  content: "\e60e";
}

/* line 43, ../../sass/sass/_iconfont.scss */
.ic_arrow_right:before {
  content: "\e601";
}

/* line 46, ../../sass/sass/_iconfont.scss */
.ic_arrow_left:before {
  content: "\e60f";
}

/* line 49, ../../sass/sass/_iconfont.scss */
.ic_plus:before {
  content: "\e101";
}

/* line 52, ../../sass/sass/_iconfont.scss */
.ic_minus:before {
  content: "\e102";
}

/* line 55, ../../sass/sass/_iconfont.scss */
.ic_multiply:before {
  content: "\e103";
}

/* line 58, ../../sass/sass/_iconfont.scss */
.ic_divide:before {
  content: "\e104";
}

/* line 61, ../../sass/sass/_iconfont.scss */
.ic_fi_color:before {
  content: "\e105";
}

/* line 64, ../../sass/sass/_iconfont.scss */
.ic_locate_normal:before {
  content: "\e106";
}

/* line 67, ../../sass/sass/_iconfont.scss */
.ic_support:before {
  content: "\e200";
}

/* line 70, ../../sass/sass/_iconfont.scss */
.ic_store:before {
  content: "\e201";
}

/* line 73, ../../sass/sass/_iconfont.scss */
.ic_product:before {
  content: "\e202";
}

/* line 76, ../../sass/sass/_iconfont.scss */
.ic_lang:before {
  content: "\e204";
}

/* line 79, ../../sass/sass/_iconfont.scss */
.ic_gallery:before {
  content: "\e203";
}

/* line 82, ../../sass/sass/_iconfont.scss */
.ic_news:before {
  content: "\e206";
}

/* line 85, ../../sass/sass/_iconfont.scss */
.ic_menu:before {
  content: "\e205";
}

@font-face {
  font-family: 'iconbox';
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url("/assets/fonts/icons.eot");
  src: url("/assets/fonts/icons.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icons.woff") format("woff"), url("/assets/fonts/icons.ttf") format("truetype"), url("/assets/fonts/icons.svg#icons") format("svg");
}
@font-face {
  font-family: 'icons_2';
  src: url("/assets/fonts/icons_2.eot");
  src: url("/assets/fonts/icons_2.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icons_2.woff") format("woff"), url("/assets/fonts/icons_2.ttf") format("truetype"), url("/assets/fonts/icons_2.svg#icons_2") format("svg");
}
@font-face {
  font-family: 'icons_3';
  src: url("/assets/fonts/icons_3.eot");
  src: url("/assets/fonts/icons_3.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icons_3.woff") format("woff"), url("/assets/fonts/icons_3.ttf") format("truetype"), url("/assets/fonts/icons_3.svg#icons_3") format("svg");
}
@font-face {
  font-family: 'icons_math';
  src: url("/assets/fonts/math.eot");
  src: url("/assets/fonts/math.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/math.woff") format("woff"), url("/assets/fonts/math.ttf") format("truetype"), url("/assets/fonts/math.svg#math") format("svg");
}
/* line 94, ../../sass/sass/_common.scss */
[class*="ic_"] {
  font-family: 'icons','icons_2','icons_3','icons_math';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  padding: 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 151, ../../sass/sass/_common.scss */
.clear {
  clear: both;
}

/* line 154, ../../sass/sass/_common.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica", "Arial";
}
/* line 38, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 3, ../../sass/sass/_home.scss */
.heading {
  font-family: "Helvetica", "Arial";
  padding: 20px;
  color: #fff;
}

/* line 9, ../../sass/sass/_home.scss */
.serviceCate .sub-cate {
  width: 100%;
  min-height: 700px;
}
/* line 12, ../../sass/sass/_home.scss */
.serviceCate .sub-cate p {
  padding: 20px;
  font-size: 16px;
  color: white;
}
/* line 19, ../../sass/sass/_home.scss */
.serviceCate .circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: rgba(84, 102, 121, 0.6);
}
/* line 24, ../../sass/sass/_home.scss */
.serviceCate .circle:hover {
  background: rgba(84, 102, 121, 0.9);
  border: 2px solid #C3C3C3;
}
/* line 28, ../../sass/sass/_home.scss */
.serviceCate .circle img {
  width: 75px;
  height: 75px;
  margin-top: 50px;
}
/* line 38, ../../sass/sass/_home.scss */
.serviceCate .faq {
  background: -webkit-linear-gradient(#a33eff, #546679);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}
/* line 46, ../../sass/sass/_home.scss */
.serviceCate #productcate {
  background: #fff;
  min-height: 100px;
}
/* line 49, ../../sass/sass/_home.scss */
.serviceCate #productcate .head {
  color: #45A9DA;
}
/* line 53, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-title {
  font-size: 20px;
}
/* line 55, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-title a {
  color: #3fb1e7;
}
/* line 57, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-title a:hover {
  color: #00a99d;
}
/* line 60, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-title a:active {
  color: #3fb1e7;
}
/* line 66, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-body {
  background-color: #f5f5f5;
  border-top: 0px !important;
}
/* line 69, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-body .nav {
  padding-left: 38% !important;
}
@media (max-width: 1024px) {
  /* line 69, ../../sass/sass/_home.scss */
  .serviceCate #productcate .panel-body .nav {
    padding-left: 30% !important;
  }
}
@media (max-width: 480px) {
  /* line 69, ../../sass/sass/_home.scss */
  .serviceCate #productcate .panel-body .nav {
    padding-left: 15% !important;
  }
  /* line 76, ../../sass/sass/_home.scss */
  .serviceCate #productcate .panel-body .nav img {
    width: 75px;
    height: 75px;
  }
}
/* line 82, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-body .nav li {
  background-color: #546679;
}
/* line 84, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-body .nav li a {
  color: #fff !important;
}
/* line 86, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-body .nav li a:hover {
  background-color: #00a99d;
}
/* line 94, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-body .nav-pills > li.active > a {
  background-color: #fff !important;
  border: 1px solid #35404c;
  border-radius: 0px;
  color: #3fb1e7 !important;
}
/* line 99, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-body .nav-pills > li.active > a:hover {
  background-color: #00a99d !important;
  color: #fff !important;
}
/* line 106, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-default {
  border-color: #f5f5f5;
}
/* line 109, ../../sass/sass/_home.scss */
.serviceCate #productcate .panel-heading {
  border-color: rgba(255, 255, 255, 0);
}
/* line 113, ../../sass/sass/_home.scss */
.serviceCate #productcate .clearcate {
  margin: 20px;
}
/* line 116, ../../sass/sass/_home.scss */
.serviceCate #productcate .cateCircle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
}
@media (max-width: 1024px) {
  /* line 116, ../../sass/sass/_home.scss */
  .serviceCate #productcate .cateCircle {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 480px) {
  /* line 116, ../../sass/sass/_home.scss */
  .serviceCate #productcate .cateCircle {
    width: 150px;
    height: 150px;
  }
}
/* line 129, ../../sass/sass/_home.scss */
.serviceCate #productcate .cateCircle img {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  /* line 129, ../../sass/sass/_home.scss */
  .serviceCate #productcate .cateCircle img {
    width: 200px;
  }
}
@media (max-width: 480px) {
  /* line 129, ../../sass/sass/_home.scss */
  .serviceCate #productcate .cateCircle img {
    width: 150px;
  }
}

/* line 146, ../../sass/sass/_home.scss */
.pointer {
  cursor: pointer;
}

@media (max-width: 1024px) {
  /* line 154, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate {
    width: 100%;
    min-height: 900px;
  }
  /* line 157, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate p {
    padding: 15px;
    font-size: 20px;
    color: white;
  }
  /* line 163, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate .circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: rgba(84, 102, 121, 0.6);
  }
  /* line 168, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate .circle:hover {
    background: rgba(84, 102, 121, 0.9);
    border: 2px solid #C3C3C3;
  }
  /* line 172, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate .circle img {
    width: 75px;
    height: 75px;
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  /* line 188, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate {
    width: 100%;
    min-height: 400px;
  }
  /* line 191, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate p {
    padding: 15px;
    font-size: 16px;
    color: white;
  }
  /* line 198, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate .circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: rgba(84, 102, 121, 0.6);
  }
  /* line 203, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate .circle:hover {
    background: rgba(84, 102, 121, 0.9);
    border: 2px solid #C3C3C3;
  }
  /* line 207, ../../sass/sass/_home.scss */
  .serviceCate .sub-cate .circle img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  /* line 217, ../../sass/sass/_home.scss */
  .serviceCate .logo {
    height: 100px;
    width: 60px;
  }
}
/*
    FAQ Section
*/
/* line 7, ../../sass/sass/_faq.scss */
.faqSection .list li {
  float: left;
}
/* line 10, ../../sass/sass/_faq.scss */
.faqSection .list li:nth-child(2) {
  margin: 47px 5px;
}
/* line 16, ../../sass/sass/_faq.scss */
.faqSection .verticalHead li {
  width: 250px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0) !important;
  margin: 20px 0px;
  border: 2px solid #C3C3C3;
  border-radius: 30px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #3fb1e7;
}
/* line 31, ../../sass/sass/_faq.scss */
.faqSection .nav {
  padding: 0px;
}
/* line 34, ../../sass/sass/_faq.scss */
.faqSection .nav li {
  width: 200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1) !important;
  margin: 20px 0px;
  border: 2px solid #C3C3C3;
  border-radius: 30px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;
}
/* line 48, ../../sass/sass/_faq.scss */
.faqSection .nav-pills li.active > a {
  background-color: rgba(255, 255, 255, 0) !important;
  color: pink;
}
/* line 51, ../../sass/sass/_faq.scss */
.faqSection .nav-pills li.active > a:hover {
  color: red;
}
/* line 55, ../../sass/sass/_faq.scss */
.faqSection .nav-pills li > a {
  color: #fff;
}
/* line 57, ../../sass/sass/_faq.scss */
.faqSection .nav-pills li > a:hover {
  color: green;
  background-color: rgba(255, 255, 255, 0) !important;
}
/* line 64, ../../sass/sass/_faq.scss */
.faqSection .panel-heading {
  background-color: #35404c;
}
/* line 66, ../../sass/sass/_faq.scss */
.faqSection .panel-heading .panel-title {
  color: #fff;
}
/* line 70, ../../sass/sass/_faq.scss */
.faqSection .panel-body {
  background-color: #546679;
  border: 0px !important;
  color: #fff;
}
/* line 75, ../../sass/sass/_faq.scss */
.faqSection .panel-default {
  border: 0px !important;
}
/* line 79, ../../sass/sass/_faq.scss */
.faqSection .circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: white;
}
/* line 84, ../../sass/sass/_faq.scss */
.faqSection .circle:hover {
  background: rgba(84, 102, 121, 0.9);
  border: 2px solid #C3C3C3;
}
/* line 88, ../../sass/sass/_faq.scss */
.faqSection .circle img {
  width: 75px;
  height: 75px;
  margin-top: 12px;
}
/* line 94, ../../sass/sass/_faq.scss */
.faqSection .circle span {
  margin-top: 10px;
}

/* line 1, ../../sass/sass/_iconfont.scss */
.ic_render:before {
  content: "\e600";
}

/* line 4, ../../sass/sass/_iconfont.scss */
.ic_upload:before {
  content: "\e602";
}

/* line 7, ../../sass/sass/_iconfont.scss */
.ic_sttachment:before {
  content: "\e603";
}

/* line 10, ../../sass/sass/_iconfont.scss */
.ic_star:before {
  content: "\e604";
}

/* line 13, ../../sass/sass/_iconfont.scss */
.ic_share-my:before {
  content: "\e605";
}

/* line 16, ../../sass/sass/_iconfont.scss */
.ic_like:before {
  content: "\e606";
}

/* line 19, ../../sass/sass/_iconfont.scss */
.ic_info:before {
  content: "\e607";
}

/* line 22, ../../sass/sass/_iconfont.scss */
.ic_idea:before {
  content: "\e608";
}

/* line 25, ../../sass/sass/_iconfont.scss */
.ic_good:before {
  content: "\e609";
}

/* line 28, ../../sass/sass/_iconfont.scss */
.ic_edit:before {
  content: "\e60a";
}

/* line 31, ../../sass/sass/_iconfont.scss */
.ic_download:before {
  content: "\e60b";
}

/* line 34, ../../sass/sass/_iconfont.scss */
.ic_comment:before {
  content: "\e60c";
}

/* line 37, ../../sass/sass/_iconfont.scss */
.ic_attention:before {
  content: "\e60d";
}

/* line 40, ../../sass/sass/_iconfont.scss */
.ic_add:before {
  content: "\e60e";
}

/* line 43, ../../sass/sass/_iconfont.scss */
.ic_arrow_right:before {
  content: "\e601";
}

/* line 46, ../../sass/sass/_iconfont.scss */
.ic_arrow_left:before {
  content: "\e60f";
}

/* line 49, ../../sass/sass/_iconfont.scss */
.ic_plus:before {
  content: "\e101";
}

/* line 52, ../../sass/sass/_iconfont.scss */
.ic_minus:before {
  content: "\e102";
}

/* line 55, ../../sass/sass/_iconfont.scss */
.ic_multiply:before {
  content: "\e103";
}

/* line 58, ../../sass/sass/_iconfont.scss */
.ic_divide:before {
  content: "\e104";
}

/* line 61, ../../sass/sass/_iconfont.scss */
.ic_fi_color:before {
  content: "\e105";
}

/* line 64, ../../sass/sass/_iconfont.scss */
.ic_locate_normal:before {
  content: "\e106";
}

/* line 67, ../../sass/sass/_iconfont.scss */
.ic_support:before {
  content: "\e200";
}

/* line 70, ../../sass/sass/_iconfont.scss */
.ic_store:before {
  content: "\e201";
}

/* line 73, ../../sass/sass/_iconfont.scss */
.ic_product:before {
  content: "\e202";
}

/* line 76, ../../sass/sass/_iconfont.scss */
.ic_lang:before {
  content: "\e204";
}

/* line 79, ../../sass/sass/_iconfont.scss */
.ic_gallery:before {
  content: "\e203";
}

/* line 82, ../../sass/sass/_iconfont.scss */
.ic_news:before {
  content: "\e206";
}

/* line 85, ../../sass/sass/_iconfont.scss */
.ic_menu:before {
  content: "\e205";
}

@font-face {
  font-family: 'iconbox';
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url("/assets/fonts/icons.eot");
  src: url("/assets/fonts/icons.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icons.woff") format("woff"), url("/assets/fonts/icons.ttf") format("truetype"), url("/assets/fonts/icons.svg#icons") format("svg");
}
@font-face {
  font-family: 'icons_2';
  src: url("/assets/fonts/icons_2.eot");
  src: url("/assets/fonts/icons_2.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icons_2.woff") format("woff"), url("/assets/fonts/icons_2.ttf") format("truetype"), url("/assets/fonts/icons_2.svg#icons_2") format("svg");
}
@font-face {
  font-family: 'icons_3';
  src: url("/assets/fonts/icons_3.eot");
  src: url("/assets/fonts/icons_3.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icons_3.woff") format("woff"), url("/assets/fonts/icons_3.ttf") format("truetype"), url("/assets/fonts/icons_3.svg#icons_3") format("svg");
}
@font-face {
  font-family: 'icons_math';
  src: url("/assets/fonts/math.eot");
  src: url("/assets/fonts/math.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/math.woff") format("woff"), url("/assets/fonts/math.ttf") format("truetype"), url("/assets/fonts/math.svg#math") format("svg");
}
/* line 94, ../../sass/sass/_common.scss */
[class*="ic_"] {
  font-family: 'icons','icons_2','icons_3','icons_math';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  padding: 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 151, ../../sass/sass/_common.scss */
.clear {
  clear: both;
}

/* line 154, ../../sass/sass/_common.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica", "Arial";
}
/* line 38, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../../sass/sass/_tutorial.scss */
.tutorial-cate #tvtile img {
  padding: 10px !important;
  border: none !important;
}
/* line 9, ../../sass/sass/_tutorial.scss */
.tutorial-cate #tvtile .play {
  position: absolute;
  z-index: 5;
  bottom: 20%;
  left: 10%;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 60px;
  width: 34px;
  height: 35px;
}
/* line 20, ../../sass/sass/_tutorial.scss */
.tutorial-cate #tvtile .play .ic {
  top: 0px !important;
  left: 0px !important;
}
/* line 29, ../../sass/sass/_tutorial.scss */
.tutorial-cate #tvgrid li {
  background-color: #35404c;
  border: solid 2px #fff;
  height: 50px;
  color: #fff;
}
/* line 34, ../../sass/sass/_tutorial.scss */
.tutorial-cate #tvgrid li:nth-child(1) {
  background-color: #fff;
}
/* line 37, ../../sass/sass/_tutorial.scss */
.tutorial-cate #tvgrid li p {
  padding: 15px 10px;
  font-size: 14px;
}

/* line 46, ../../sass/sass/_tutorial.scss */
.modal {
  text-align: center;
  margin: 0 auto;
}
/* line 49, ../../sass/sass/_tutorial.scss */
.modal .modal-dialog {
  width: 50%;
}
/* line 52, ../../sass/sass/_tutorial.scss */
.modal .modal-body {
  text-align: left;
  line-height: 1.5;
}
/* line 55, ../../sass/sass/_tutorial.scss */
.modal .modal-body a.highline {
  color: #02988a;
}
/* line 59, ../../sass/sass/_tutorial.scss */
.modal .page {
  color: #4d4d4d;
}
/* line 62, ../../sass/sass/_tutorial.scss */
.modal .btn {
  margin-bottom: 0;
  width: auto;
}

/* line 68, ../../sass/sass/_tutorial.scss */
.modal-body {
  text-align: center;
}
/* line 70, ../../sass/sass/_tutorial.scss */
.modal-body iframe {
  width: 90%;
  height: 480px;
  padding: 15px;
}

/* line 1, ../../sass/sass/_download.scss */
.breadcrumbsContainer {
  width: 100%;
  z-index: 999;
  background: #e1e1e1;
  position: relative;
  font-size: 14px;
}
/* line 7, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: Helvetica, Arial;
}
/* line 12, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul {
  margin: 0;
  height: 40px;
}
/* line 15, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul .hasSubmenu:hover {
  background-image: url(/assets/images/breadcrumbs-caret-up.png);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 21, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li {
  display: inline-block;
}
/* line 23, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li:hover > .submenu {
  display: block;
  padding: 15px;
}
/* line 27, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li .submenu {
  padding: 0;
  display: none;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0px;
  background: #45aad9;
}
/* line 36, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li .submenu div {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 40, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li .submenu div .submenudiv1 {
  float: left;
  width: 100%;
  max-width: 320px;
}
/* line 45, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li .submenu div ul {
  width: 100%;
}
/* line 47, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li .submenu div ul li {
  display: block;
  line-height: 40px;
  height: 40px;
  padding-left: 30px;
}
/* line 52, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li .submenu div ul li a {
  color: #fff;
  font-weight: bold;
}
/* line 55, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li .submenu div ul li a:hover {
  color: #fbb03b;
  border-bottom: solid 3pt #fbb03b;
}
/* line 64, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li a {
  display: block;
  text-decoration: none;
  float: left;
  height: 40px;
  line-height: 40px;
  color: #5b9cc7;
}
/* line 71, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li a:hover {
  text-decoration: none;
}
/* line 74, ../../sass/sass/_download.scss */
.breadcrumbsContainer .breadcrumbs ul li a span {
  margin: 4px;
}

/* line 82, ../../sass/sass/_download.scss */
.mainContainer {
  background: url("https://twportal.blob.core.windows.net/images-servicecenter/general/bg_main.jpg");
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* line 92, ../../sass/sass/_download.scss */
.downloadSection {
  min-height: 100vh;
}
/* line 95, ../../sass/sass/_download.scss */
.downloadSection .container .heading {
  padding: 60px 0px 60px 0;
}
/* line 97, ../../sass/sass/_download.scss */
.downloadSection .container .heading p {
  text-align: center;
}
/* line 99, ../../sass/sass/_download.scss */
.downloadSection .container .heading p span {
  background-color: #fff;
  padding: 22px 18px 18px 22px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  margin-right: 20px;
}
/* line 106, ../../sass/sass/_download.scss */
.downloadSection .container .heading p span font {
  color: #e89425;
  font-size: 32px;
  background: -webkit-linear-gradient(right, #f5d2a3, #e89425);
  background: linear-gradient(to left, #f5d2a3, #e89425);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 117, ../../sass/sass/_download.scss */
.downloadSection .container .leftPart {
  width: 100%;
  min-height: 100px;
}
/* line 121, ../../sass/sass/_download.scss */
.downloadSection .container .leftPart ul li {
  border: solid 2pt #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 20px;
}
/* line 127, ../../sass/sass/_download.scss */
.downloadSection .container .leftPart ul li a {
  font-weight: bold;
  color: #45aad9;
}
/* line 130, ../../sass/sass/_download.scss */
.downloadSection .container .leftPart ul li a div {
  width: 100%;
  padding: 15px 15px 15px 25px;
}
/* line 134, ../../sass/sass/_download.scss */
.downloadSection .container .leftPart ul li a:hover {
  text-decoration: none;
}
/* line 141, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart {
  width: 100%;
  min-height: 100px;
}
/* line 144, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList {
  margin-bottom: 30px;
  padding-top: 10px;
}
/* line 147, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList p {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  padding: 0px 0 25px 0;
}
/* line 154, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel {
  border-radius: 0 !important;
  margin-bottom: 15px !important;
  background-color: #34404b !important;
}
/* line 159, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel .panel-heading {
  background-color: #34404b !important;
  padding: 20px !important;
  margin-left: 20px;
  border-radius: 0 !important;
  color: #fff !important;
  font-weight: bold;
}
/* line 166, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel .panel-heading .panel-title {
  padding-left: 30px;
  font-weight: bold !important;
}
/* line 171, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel .showPanel {
  background-image: url("http://xyzwebsite.blob.core.windows.net/service-center/ic_plus.png") !important;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
/* line 177, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel .hidePanel {
  background-image: url("http://xyzwebsite.blob.core.windows.net/service-center/ic_minus.png") !important;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
/* line 183, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel a {
  text-decoration: none !important;
}
/* line 185, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel a:focus {
  text-decoration: none !important;
}
/* line 188, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel a:active {
  text-decoration: none !important;
}
/* line 193, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel-default {
  border: none !important;
}
/* line 196, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel-body {
  padding: 0 !important;
  border: 0 !important;
  background: #546577 !important;
}
/* line 200, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel-body ul {
  padding: 0;
  width: 100%;
  background: #546577;
}
/* line 204, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel-body ul li {
  display: inline-block;
  padding: 15px;
  border-right: solid 1pt #34404b;
  border-bottom: solid 1pt #34404b;
  line-height: 28px;
  margin-right: -4px;
  color: #fff;
  width: 22%;
  text-align: center;
  vertical-align: top;
}
/* line 215, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel-body ul li:last-of-type {
  border-right: none;
  width: 12%;
  line-height: 18px;
}
/* line 220, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList .panel-group .panel-body ul li a {
  color: #45A9DA;
  font-size: 24px;
}
/* line 229, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList a:hover {
  text-decoration: none;
}
/* line 232, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .osList a:active {
  text-decoration: none !important;
}
/* line 237, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .specialInfo {
  width: 100%;
  padding: 30px;
  border: solid 2pt #fff;
  margin: 10px 0 40px 0;
}
/* line 242, ../../sass/sass/_download.scss */
.downloadSection .container .rightPart .specialInfo p {
  color: #fff;
}

@media all and (max-width: 480px) and (min-width: 320px) {
  /* line 251, ../../sass/sass/_download.scss */
  .heading {
    font-size: 14px;
  }

  /* line 254, ../../sass/sass/_download.scss */
  .downloadSection .container .heading p span {
    padding: 32px 18px 18px 22px;
  }

  /* line 257, ../../sass/sass/_download.scss */
  .downloadSection .container .rightPart .osList .panel-group .panel-body ul li {
    padding: 10px 0px 10px 0px;
  }
}
/* line 3, ../../sass/sass/_helpCate.scss */
#helpList.scanner {
  background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_scanner.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 8, ../../sass/sass/_helpCate.scss */
#helpList.f10 {
  background: url("https://xyzwebsite.blob.core.windows.net/service-center/da10.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 13, ../../sass/sass/_helpCate.scss */
#helpList.f20 {
  background: url("https://xyzwebsite.blob.core.windows.net/service-center/da20.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 18, ../../sass/sass/_helpCate.scss */
#helpList.f10a {
  background: url("https://xyzwebsite.blob.core.windows.net/service-center/da10a.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 23, ../../sass/sass/_helpCate.scss */
#helpList.f20a {
  background: url("https://xyzwebsite.blob.core.windows.net/service-center/da20a.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 28, ../../sass/sass/_helpCate.scss */
#helpList.f10aio {
  background: url("https://xyzwebsite.blob.core.windows.net/service-center/daAiO.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 33, ../../sass/sass/_helpCate.scss */
#helpList.nb10 {
  background: url("http://twportal.blob.core.windows.net/images-support/img_support_navi_nb10.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 38, ../../sass/sass/_helpCate.scss */
#helpList.filament {
  background: url("http://twportal.blob.core.windows.net/images-support/img_support_navi_filament.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 43, ../../sass/sass/_helpCate.scss */
#helpList.spare_parts {
  background: url("http://twportal.blob.core.windows.net/images-support/img_support_navi_spare.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 48, ../../sass/sass/_helpCate.scss */
#helpList.nb10 {
  background: url("http://twportal.blob.core.windows.net/images-support/img_support_navi_nb10.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 53, ../../sass/sass/_helpCate.scss */
#helpList.dv10jr {
  background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_dv10jr.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 58, ../../sass/sass/_helpCate.scss */
#helpList.dv11plus {
  background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_dv11plus.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 63, ../../sass/sass/_helpCate.scss */
#helpList.dv10jrw {
  background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_dvjrw.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 68, ../../sass/sass/_helpCate.scss */
#helpList.dvpro {
  background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_dv10pro.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 73, ../../sass/sass/_helpCate.scss */
#helpList.foodprinter {
  background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_foodprinter.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 78, ../../sass/sass/_helpCate.scss */
#helpList.bolide {
  background: url("https://twportal.blob.core.windows.net/images-support/bolide_robot.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 85%;
  background-position: 50% 50%;
}
/* line 83, ../../sass/sass/_helpCate.scss */
#helpList.xyzmaker {
  background: url("https://xyzwebsite.blob.core.windows.net/service-center/ic_xyzmaker.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
/* line 88, ../../sass/sass/_helpCate.scss */
#helpList.dvpro3in1 {
  background: url("https://twportal.blob.core.windows.net/images-support/img_support_navi_dv3in1pro.png") no-repeat rgba(232, 233, 235, 0.6);
  background-size: 100%;
  background-position: 50% 50%;
}
